<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pay My Buddy - Homepage</title>
</head>
<body>

<header>
	<!-- Navigation / Menu -->
	<nav>
		<!-- Logo PMB -->
		<div style="display:inline-block;"><button>Pay My Buddy</button></div>
		
		<!-- Links -->
		<ul style="display:inline-block; text-align:right;">
			<li style="display:inline;"><a th:href="@{/home}">Home</a></li>
			<li style="display:inline;"><a th:href="@{/transfer}">Transfer</a></li>
			<li style="display:inline;"><a th:href="@{/profile}">Profile</a></li>
			<li style="display:inline;"><a th:href="@{/contact}">Contact</a></li>
			<li style="display:inline-block;">
				<form action="@{/logout}" method="post">
					<input type="submit" value="Log off" />
				</form>
			</li>
		</ul>
	</nav>
	
	<!-- Fil d'Ariane -->
	<nav style="background-color:lightgrey; padding:2px;">
		<p><a th:href="@{/home}">Home</a></p>
	</nav>
</header>
	
<!-- Main content -->
<main style="width: 800px; margin:0 auto;">
	<section>
		<h2>My dashboard</h2>
		<p>Hello <span th:text="${username}">Toto</span></p>
		<p>Available balance : <span th:text="${userbalance}">575.12</span> EUR</p>
	</section>
	<hr>
	
	
	<section th:if="${userbank.isEmpty}">
		<p>You don't have a bank account yet.</p>
		<div>
			<form method="post" th:action="@{/addBankAccount}">
				<label for="iban">Iban : </label>
				<input type="text" id="iban" name="iban" required>
				
				<input type="submit" value="Add bank account">
			</form>
		</div>
	</section>
	<p th:if="${param.successAddBank}" style="border:2px solid green; color:green;">Add bank successfully</p>
	<p th:if="${param.errorAddBank}"   style="border:2px solid red;   color:red;">Add bank failed</p>
	
	<section th:unless="${userbank.isEmpty()}">
		<p>Mon iban : <span th:text="${userbank.get().getIban()}">123</span></p>
	</section>
</main>

</body>
</html>