<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PMB - Transferpage</title>
</head>
<body>

<header>
	<!-- Navigation / Menu -->
	<nav>
		<!-- Logo PMB -->
		<div style="display:inline-block;"><button>Pay My Buddy</button></div>
		
		<!-- Links -->
		<ul style="display:inline-block; text-align:right;">
			<li style="display:inline;"><a th:href="@{/home}">Home</a></li>
			<li style="display:inline;"><a th:href="@{/transfer}">Transfer</a></li>
			<li style="display:inline;"><a href="profile">Profile</a></li>
			<li style="display:inline;"><a th:href="@{/contact}">Contact</a></li>
			<li style="display:inline-block;">
				<form action="@{/logout}" method="post">
					<input type="submit" value="Log off" />
				</form>
			</li>
		</ul>
	</nav>
	
	<!-- Fil d'Ariane -->
	<nav style="background-color:lightgrey; padding:2px;">
		<p><a th:href="@{/home}">Home</a> / Transfer</p>
	</nav>
</header>




<!-- Main content -->
<main style="width: 800px; margin:0 auto;">
	
	<h2>Send money</h2>
	<section id="transaction-buddy" style="padding:15px; background-color:lightgrey;">
		<form th:action="@{/transfer}" method="POST">
        	<input type="hidden" name="userAccount" id="user-account">
                 
            <label for="receiverEmail">Payment to : </label>
            <select id="receiverEmail" name="connections" required>
            	<option value="" selected disabled hidden>Select a connection</option>
                <option th:each="u :  ${u.friends}" th:value="${u.email}" th:text="${u.email}">Email</option>
            </select>

            <label for="amount">Amount(€): </label>
            <input type="number" min="1" step=".01" name="amount" required>
   
            <label for="description">Description: </label>
            <input type="text" name="description" id="description">
 
            <input type="submit" value="Pay">
       </form>
       <p th:if="${param.successTransfer}" style="border:2px solid green; color:green;">Operation succeed</p>
	   <p th:if="${param.errorTransfer}"   style="border:2px solid red;   color:red;">Operation failed</p>
    </section>
    <hr>


    <h2>Bank operation</h2>
    <section id="transaction-bank" style="padding:15px; background-color:lightgrey;">
		<form method="POST" th:action="@{/transfer/transferBank}">
            <p>Select an option : 
	            <input type="radio" name="operationType" value="payment" id="choice1" required>
	            <label for="choice1">Add money to my account</label>
	
	            <input type="radio" name="operationType" value="withdraw" id="choice2">
	            <label for="choice2">Withdraw money from my account</label>
	        </p>
	        <p>
            	<label for="amount">Amount(€): </label>
            	<input type="number" min="1" step=".01" name="amount" required>
            </p>
            <input type="submit" value="Transfer!!!">
       </form>
       <p th:if="${param.successBankTransfer}" style="border:2px solid green; color:green;">Bank operation succeed</p>
	   <p th:if="${param.errorBankTransfer}"   style="border:2px solid red;   color:red;">Bank operation failed</p>
    </section>
    <hr>
    
    
	<section id="transaction-list">
		<h2>My transactions</h2>
        <table>
        	<tr>
        		<th>Connection</th>
                <th>Description</th>
                <th>Amount (€)</th>
                <th>Type de transaction</th>
            </tr>
            <tr th:each="transaction : ${usertransactions}">
            	<td th:text="${transaction.receiverId.firstName + ' ' + transaction.receiverId.lastName}">Sherlock Holmes</td>
                <td th:text="${transaction.description}">Tickets de cinéma</td>
                <td th:text="${transaction.amount}">14.51</td>
                <td th:text="${transaction.type}">type de transaction</td>
            </tr>
        </table>
	</section>
	
</main>

</body>
</html>